* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
  body {
    width: 100%;
    background: linear-gradient(90deg, rgb(84, 84, 84) 7%, rgb(61, 61, 61) 31%, rgb(68, 68, 68) 55%, rgb(43, 43, 43) 83%);
  }
  
  .container {
    max-width: 1420px;
    margin: auto;
  }
  
  .dropbtn {
    color: white;
    width: 100%;
    padding: 0px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    background: linear-gradient(90deg, rgb(84, 84, 84) 7%, rgb(61, 61, 61) 31%, rgb(68, 68, 68) 55%, rgb(43, 43, 43) 83%);
    position: relative;
    display: block;
    float: center;
    margin-top: 15px;
    height: 0;
    width: 0px;
    padding-right: 160px;
  }
  
  .dropdown-content {
    display: none;
    right: 0px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  section.featured {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    background: linear-gradient(90deg, rgb(84, 84, 84) 7%, rgb(61, 61, 61) 31%, rgb(68, 68, 68) 55%, rgb(43, 43, 43) 83%);
    padding-bottom: 10px;
    padding-top: 110px;
    width: 100%;
    overflow: hidden;
  }
  section.featured .featured-item {
    max-width: 350px;
    margin: auto;
    padding-bottom: 60px;
    padding-top: 30px;
  }
  section.featured .featured-item h3 {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  section.featured .featured-item img {
    width: 315px;
  }
  @media (max-width: 1330px) {
    section.featured .featured-item img {
      width: 315px;
    }
  }
  section.featured .featured-item p {
    max-width: 300px;
    margin: auto;
    padding-bottom: 7px;
  }
  section.featured .featured-item .dugme {
    padding-top: 10px;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    max-width: 200px;
    padding: 5px;
    border: 1px;
    text-decoration: none;
    text-decoration-line: none;
    color: black;
    background-color: #adadad;
  }
  section.featured .featured-item .dugme:hover {
    transition: 0.3s;
    cursor: pointer;
  }
  section.featured .featured-item .dugme a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  body {
    background: linear-gradient(90deg, rgb(84, 84, 84) 7%, rgb(61, 61, 61) 31%, rgb(68, 68, 68) 55%, rgb(43, 43, 43) 83%);
  }
  
  h2 {
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  
  .rezervacija {
    padding: 10px;
    text-align: center;
    margin: auto;
    max-width: 400px;
    border: 2px;
    border-color: white;
  }
  .rezervacija .h5 {
    padding: 20px;
  }
  
  footer {
    bottom: 0;
  }