h1{
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
  }
  
  p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
    font-size: 16px;
  }
  
  input[type="radio"] {
   max-width:200px;
    margin: 0 ;
  }
  
  .err {
    color: red;
  }
  
  .submit {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit:hover {
    background-color: #3e8e41;
  }
  
  input[type="submit"] {
    text-align: center;
  }